@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ECHO-AI section */
.background-img {
    background-image: url(../images/png/Frame\ 2147224016.png);
    height: 840.23px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-heading {
    font-family: "Outfit", serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.sub-heading-1 {
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 24px;
    padding-bottom: 24px;
}

.action-btn {
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    padding: 13px 32px 13px 32px;
    border: none;
    outline: none;
    border-radius: 57px;
    cursor: pointer;
    transition: scale 0.2 ease !important;
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
    margin-left: 245px;
}

.action-btn:hover {
    scale: 1.05 !important;
    color: #fff !important;
}

.action-btn:active {
    scale: 0.95 !important;
}

img[alt="Group"] {
    margin-top: 61.71px;
    position: relative;
    z-index: 1;
}

img[alt="ellipse-group"] {
    position: absolute;
    left: -205px;
    top: 276px;
}

img[alt="layer"] {
    position: absolute;
    left: -205px;
    top: 276px;
}

.star-1 {
    position: absolute;
    top: 485px;
    right: 0;
    transform: translateY(50%);
}

.star-2 {
    position: absolute;
    top: 186px;
    right: 0;
    transform: translateY(50%);
}

.star-3 {
    position: absolute;
    top: 121px;
    right: 434px;
    transform: translateY(50%);
}

.star-4 {
    position: absolute;
    top: 394px;
    right: 381px;
    transform: translateY(50%);
}

.relative {
    position: relative !important;
}

img[alt="rocket"] {
    position: absolute;
    top: -42%;
    right: -44px;
    transform: translateY(50%);
}

.mb-24 {
    margin-bottom: 24px;
}

/* navbar */

.background-img li {
    list-style-type: none !important;
    margin-top: 30px;
}

.background-img a {
    text-decoration: none !important;
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    color: rgba(255, 255, 255, 1) !important;
}

.background-img a:hover {
    color: orange !important;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 32px;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    padding: 13px 32px 13px 32px;
    border: none;
    outline: none;
    border-radius: 57px;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-top: 10px !important;
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
}

.action_btn:hover {
    scale: 1.05;
    color: #fff !important;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdoun_menu */
.dropdown_menu {
    display: none;
    position: absolute !important;
    right: 0rem !important;
    top: 87px !important;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 1000px;
    position: relative;
    z-index: 99;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img[alt="logo"] {
    margin-top: 14px !important;
}

/* section-2 */
.number {
    font-family: "Outfit", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.text {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.card-col {
    border: 1px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) !important;
    border-top: none !important;
}

.white-wrap {
    white-space: nowrap;
}

/* slider */
.testimonials-heading {
    font-family: "Outfit", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 40px;
    padding-top: 175px;
}

.card-slider {
    background: linear-gradient(180deg, rgba(59, 40, 246, 0.22) 0%, rgba(59, 40, 246, 0) 100%);
    width: 364px;
    height: 289px;
    padding: 24px;
    gap: 24px;
    border-radius: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.sub-heading {
    font-family: "Outfit", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 1);
}

.testimonials-para {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 80%;
    max-width: 316px;
}

.testimonials-name {
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    padding-left: 8px;
    padding-top: 5px;
}

.testimonials-name span {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.mt-47 {
    padding-top: 47px;
}

.mt-40 {
    padding-top: 23px;
}

/* accordion */
.accordion-section .container {
    max-width: 1140px !important;
}

.heading {
    font-family: "Outfit", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 60px;
}

.accordion {
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-bg: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.min-vh-100 {
    min-height: 100vh;
}

.accordion-button {
    font-family: "Outfit", serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    color: rgba(255, 255, 255, 1) !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") !important;
}

.accordion-body {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.accordion-item {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    margin-top: 24px !important;
    border-radius: 12px !important;
    padding: 24px;
}

.accordion-item-1 {
    border-image-source: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%) !important;
    border: 1px solid transparent;
    border-image-slice: 1;
    padding: 24px;
    border-radius: 12px !important;
}

/* footer section */
.footer-text {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 80%;
    padding-top: 20px;
}

.links-li {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    color: rgba(255, 255, 255, 1);
}

.link {
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    color: rgba(255, 255, 255, 1);
    opacity: 70%;
}

.gap-12 {
    gap: 12px;
}

.pt-356 {
    padding-top: 356px;
    padding-bottom: 30px;
}

.footer-section a {
    text-decoration: none;
}

.footer-section li {
    list-style-type: none;
    margin-bottom: 14px;
}

.ml-30 {
    margin-left: 107px;
}

.ml-50 {
    margin-left: 188px;
}

.line {
    border: 2px solid transparent;
        border-image-slice: 1;
margin-top: 60px;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 47%, rgba(255, 255, 255, 0) 100%);
}

/* responsive design */
@media(max-width:992px) {
.ml-30 {
        margin-left: 0px;
    }

    .ml-50 {
        margin-left: 0px;
    }
    .navbar .links,
    .navbar .action_btn {
        display: none !important;
    }

    .navbar .toggle_btn {
        display: block !important;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(min-width:576px) {
    .pt-290 {
        padding-top: 280px !important;
    }
       
    
}

@media(max-width:320px){
    .ml-30 {
            margin-left: 0px;
        }
    
        .ml-50 {
            margin-left: 0px;
        }
    }
@media(max-width:576px) {
    .dropdown_menu {
        left: 0rem;
        width: unset;
    }
}